<!doctype html>
<title>Hello, from GooSE</title>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
<h1>HEY BUDDY!</h1>
<button onclick="toggleBuzzer()">Toggle Buzzer</button><br>
<button onclick="moveForward()">Move Forward</button><br>
<button onclick="moveBackward()">Move Backward</button><br>
<button onclick="moveRight()">Move Right</button><br>
<button onclick="moveLeft()">Move Left</button><br>
<button onclick="getDistance()">Get Distance</button><br>
<button onclick="stopMovement()">Stop Movement</button><br>
<button onclick="poop()">Stop Movement</button><br>
